body {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#jumboMain {
    background-color: black;
}

#jumboHead {
    font-weight: bold;
    background-color: black;
    color: lime;
}

#myJumbo {
    background-color: black;
    color:lime;
}

#viewHighScores {
    position: absolute;
    top: 5px;
    right:20px;
    text-align: right;
    color: lime;
    font-size: small;
}

#backHome {
    position: absolute;
    top: 5px;
    right:20px;
    text-align: right;
    color: lime;
    font-size: small;
}

#main {
    font-size: large;
}

.myBtn {
    margin: 2px;
}

li {
    list-style-type: none;
}