/*The terminal-like styling is based off a CSS design by Chris Coyier for css-tricks.com
Credit details in the README*/
body {
    font-family: "Inconsolata", "monospace";
    font: 1.3rem;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
    height: 100vh;
    color: white;
    text-shadow: 0 0 5px #C8C8C8;
}

#jumboMain {
    background-color: black;
}

#jumboHead {
    font-weight: bold;
    background-color: black;
    color: lime;
}

#myJumbo {
    background-color: black;
    color:lime;
}

#viewHighScores {
    position: absolute;
    top: 5px;
    right:20px;
    text-align: right;
    color: lime;
    font-size: small;
}

#viewHighScores:hover {
    cursor: pointer;
}

#timer {
    position: absolute;
    right: 10px;
    text-align: right;
}

#backHome {
    position: absolute;
    top: 5px;
    right:20px;
    text-align: right;
    color: lime;
    font-size: small;
}

#backHome:hover {
    cursor: pointer;
}

#main {
    font-size: large;
}

.myBtn {
    margin: 2px;
}

li {
    list-style-type: none;
}

#emptyStorage {
    position: absolute;
    right: 10px;
    text-align: right;
    font-size: small;
}