body {
    font-family: "Roboto", sans-serif;
}

#jumboMain {
    background-color: black;
}

#jumboHead {
    font-weight: bold;
    background-color: black;
    color: lime;
}

#myJumbo {
    background-color: black;
    color:lime;
}

#main {
    font-size: large;
}

.myBtn {
    margin: 2px;
}